# Created by https://www.gitignore.io
.idea/
build/
shariff-backend-php*.zip
shariff-backend-php*.tar
shariff-backend-php*.tar.gz

### Composer ###
composer.phar
vendor/
.php-cs-fixer.cache
.phpunit.result.cache
